<div class="links__contacts">
   <div class="tell">
      <p class="name__text">Мария</p>

      <p class="tell__text"> <a href="tel:+79608674855" class="tell__text tell__text2">+79608674855</a></p>
   </div>
   <div class="box__links-contacts">
      <a href="https://t.me/Taksebemamaya" target="_blank">
         <img src="../../../../assets/img/t.png" alt="telegram" class="link__img" /> </a>
      <a href="https://vk.com/niklenko" target="_blank">
         <img src="../../../../assets/img/v.png" alt="vk" class="link__img" /></a>
      <a href="https://www.instagram.com/tak.sebe.mama" target="_blank">
         <img src="../../../../assets/img/i.png" alt="instagram" class="link__img" />
      </a>
      <a href="https://wa.me/+79608674855? text=Здравствуйте%20хочу%20расклад%20на%20Таро" target="_blank">
         <img src="../../../../assets/img/w.png" alt="watsap" class="link__img" /></a>
   </div>
</div>