<div class="content" *ngIf="select">
            <div class="card" *ngFor="let item of content">
                  <div class="con">
                        <div class="box">
                              <div class="link">
                                          <a href="https://wa.me/+79608674855? text=Здравствуйте%20меня%20интересуют%20{{item.type}}" target="_blank">Хочу этот расклад</a>
                              </div>
                              <h2 class="card__title" [routerLink]="[item.ro]" routerLinkActive="router-link-active" (click)="select = false">
                                    {{item.type}}</h2>
                              <p class="card__description" [routerLink]="[item.ro]" routerLinkActive="router-link-active" (click)="select = false">{{item.description}}</p>
                        </div>
                  </div>
                 
            </div>
</div>

<div class="content1" *ngIf="!select">
      <div class="back">
            <button (click)="select=true"> Hазад на Расклады</button>
      </div>
      <div class="content__box">
            <router-outlet></router-outlet>
      </div>
</div>