<section class="page__section ">
<h1 class="page__title">
   Обо мне
</h1>
<div class="page__text">

      <img src="../../../../assets/img/ava.jpg" class="img__ava" alt="foto__ava" />

<p>
Здесь должен быть рассказ о том, что я - ведьма в седьмом колене, моя прапрапрабабка горела синим праведный огнём
на костре инквизиции где-то в средневековой Европе, после чего её потомки сбежали в более гостепримную Русь, где
веками из под полы занимались знахарством и гаданием на сапогах.
Должен быть, но не будет. Потому что это было бы не правдой. А правда в том, что моя прапрапрабабка и правда
чем-то таким "страдала", да и рассказы моего деда часто начинаются со слов "а хотите я вам расскажу, как нашёл
временной портал" (и, нет, он не пьёт и не сумасшедший), но моя история началась совсем иначе...

Меня зовут Мария и я такая же, как вы...
Я училась в обычной школе, закончила университет и получила диплом историка. Никаких Хогвартсов, никакого
зельеварения.
Работала ведущим специалистом в банке, заводила семью, покупала квартиру. Всё, как у всех.
Однако, у жизни были немного другие планы на меня. Так сложилось, что я потеряла своих родителей, одного за
другим. Уход
из жизни каждого из них мне предсказали сны. Справившись с горем и продолжая жить дальше, я начала пытаться
разобраться
в природе своих видений. Изучение изотерики и духовных практик привело меня к Таро.

Первые расклады робко делала сама
себе, своим близким и друзьям. Я не была уверена в своих способностях, но отзывы моих клиентов давали мне силы
двигаться
дальше. На сегодняшний день я окончательно осознала свое место в этом мире, профессионально занимаюсь раскладами
Таро и
помогаю каждому, кто обратится ко мне за помощью или советом. Если у вас есть вопрос ко Вселенной или проблема,
требующая решения - пишите и мы будем искать выход вместе при помощи Таро.
</p>


</div>

</section>
