<div class="content">
   <div class="card" *ngFor="let item of content">
      <div class="box">
         <div class="link">
            <a href="https://api.whatsapp.com/send?phone=79608674855&text=Здравствуйте%20меня%20интересует%20расклад%20{{item.type}}"
               target="_blank"
               [ngStyle]="{overflow: 'hidden',fontSize: btn1 ? '100%':  '91%', boxShadow: btn1 ? '0px 0px 25px 0px rgb(200, 100, 255)':  '0px 0px 7px 0px rgb(200, 100, 255)', transition: 'all 1s ease', background: btn1 ? 'rgba(41, 28, 49, 1) ':'rgba(41, 28, 49, 0.311)'}">Хочу
               этот расклад</a>
         </div>
         <h2 class="card__title">{{item.type}}</h2>
         <p class="card__description">{{item.description}}</p>
         <ul *ngFor="let p of item.point">
            <li>{{p}}</li>
         </ul>
      </div>
   </div>
</div>