.card {
   margin: 20px;
   overflow: hidden;
   border-radius: 30px;
   width: 300px;
   height: 450px;
   background: url(../../../../../assets/img/card.jpg);
   background-size: cover;
   box-shadow: 0px 0px 7px 0px rgb(200, 100, 255);
}

.box {
   overflow: scroll;
   width: 100%;
   height: 100%;
   background: rgba(1, 1, 1, 0.7)
}

.box::-webkit-scrollbar {
   width: 0;
}

.content {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.card__title {
   text-shadow: 0px 0px 20px black;
   text-align: center;
   padding: 0px 10px 10px;
   font-size: 24px;
   color: rgb(200, 100, 253);
}

.card__description {
   padding: 10px 10px 10px;
   text-align: center;
   font-size: 19px;
   font-style: italic;
   color: rgb(199, 184, 203);
   line-height: 150%;
}

ul {
   font-size: 18px;
   color: rgb(201, 152, 255);
}

li {
   font-style: italic;
   padding: 10px;
}

li::before {
   content: '';
   display: inline-block;
   width: 7px;
   height: 7px;
   border-radius: 50%;
   background-color: rgb(200, 100, 255);
   box-shadow: 0px 0px 2px 0px rgb(200, 100, 217), 0px 0px 5px 1px rgb(0, 0, 0);
   margin: 0px 15px 2px 0px;
}

.link {
   display: flex;
   justify-content: end;
   text-align: end;
}

.link a {
   border-bottom-left-radius: 70px;
   padding: 15px 5px 0px 0px;
   width: 80px;
   height: 80px;
   color: rgb(215, 185, 221);
   font-size: 16px;
   background: rgba(41, 28, 49, 0.311);
   box-shadow: 0px 0px 7px 0px rgb(200, 100, 255), 0px 0px 3px 0px rgb(255, 255, 255);
}

.link a:hover {
   text-decoration: underline;
   box-shadow: 0px 0px 17px 0px rgb(200, 100, 255), 0px 0px 9px 0px rgb(255, 255, 255);
}


@media (max-width:580px) {
   .card {
      margin: 20px 3px;
      width: 270px;
      height: 400px;
   }


   .card__title {
      padding: 15px 10px;
      font-size: 22px;
   }

   .card__description {
      padding: 0px 3px 10px;
      font-size: 18px;
   }

   ul {
      font-size: 17px;
   }

   li {
      font-style: italic;
      padding: 10px 3px;
   }

}