

.answer {
   color: rgba(255, 255, 255, 1);
   font-style: italic;
   font-weight: 500;
   font-size: 22px;
   text-align: center;
   line-height: 30px;
   margin: 0px 0px 20px 0px;
}

.quwestion {
   color: rgb(247, 162, 255);
   margin: 50px 0px 15px 0px;
   font-style: italic;
   font-weight: 500;
   font-size: 30px;
   text-align: center;
}

@media (max-width: 580px){
   .answer {

         font-weight: 400;
         font-size: 18px;
         line-height: 27px;
      }
   
      .quwestion {
         margin: 30px 0px 15px 0px;
         font-size: 22px;
      }
}