<section class="page__section page__section3">
   <p class="quwestion">
      Сколько стоит Расклад?
   </p>
   <p class="answer">
      - Стоимость индивидуально и зависит от вида расклада и количества карт, в нем задействованных. В целом, от 300 р
   </p>
   <p class="quwestion">
      Что нужно для расклада?
   </p>
   <p class="answer">
      - Необходимо чётко сформулировать свой вопрос к Таро, так же отправить тарологу фото и имя человека, на которого
      производится Расклад. В момент самого заказчику так же желательно думать о своём вопросе.
   </p>
   <p class="quwestion">
      Когда происходит оплата?
   </p>
   <p class="answer">
      - Оплата происходит после расклада и предоставления ответа таролога.
   </p>
   <p class="quwestion">
      Нужно куда-то ехать на встречу?
   </p>
   <p class="answer">
      - Нет, я работаю удалённо, связь поддерживаю через мессенджеры.
   </p>
   <p class="quwestion">
      Проводите ли вы какие - либо ритуалы (приворот, отворот, снячие порчи, чистка)?
   </p>
   <p class="answer">
      - Нет, я занимаюсь только раскладами Таро.
   </p>
   <p class="quwestion">
      Можно ли гадать на третье лицо?
   </p>
   <p class="answer">
      - Да, можно, но в этом случае требуется фото данного человека и его имя.
   </p>
   <p class="quwestion">
      Сколько по времени длится Расклад?
   </p>
   <p class="answer">
      - По - разному, от 15-20 минут.
   </p>
</section>
